@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
body {
    background-color: #f1efe7;
    font-family: 'League Spartan';
}

.title {
    text-align: center;
    color: blueviolet;
}